@import "general";

body {
  background-color: aliceblue;
  width: 100%;

  .navbar {
    background-color: white;

    .button {
      width: 100% !important;
    }
  }

  .table-container {
    overflow-x: scroll !important;

    .table {
      width: 100%;
    }
  }
}
