@import "general";

body {
  overflow: hidden !important;
  background-image: url("../img/bg.png");
  background-size: cover;
  .notification {
    z-index: 100;
    width: 100%;
    position: absolute;
  }

  .container {
    columns: 0 !important;
    padding: auto !important;
    display: flex;
    justify-content: center;
  }

  .columns {
    //Login background of colums
    margin: 10vw 0 0 0 !important;
    display: flex !important ;
  }
  .column {
    margin-left: 0 !important;
    width: 70vw !important;
    padding: 0 !important;
    border-radius: 10px;
    display: flex;
    height: 100% !important;
  }
  #column1 {
    width: 55vw !important;
  }
  #column2 {
    width: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
    display: flex;
  }
  .imageLog {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 10px 10px 0 !important;
    height: 100%;
  }

  .postField {
    margin: 10% 20% 5vw 20% !important;
    margin: auto;
    height: auto;
  }

  .field {
    margin: auto;
    margin-top: 3vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-top: 1.2vh;
  }

  .form {
    background-color: red !important;
  }
}
