@import "general";

body {
  .notification {
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 1vh;
  }

  .columns {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
