@import "general";
@import "index";

* {
  margin: 0;
  padding: 0;
}
body {
  #column2 {
    display: flex !important;
  }

  .imageLog {
    display: flex;
    width: 20vw !important;
  }

  #signupBox {
    margin: 0 !important;
    height: 62vh;
    margin-top: 10vw !important;
  }
  #containerSign {
    display: flex;
    justify-content: center;
  }

  #whiteSign {
    display: flex;
    height: 100% !important;
    width: 30vw !important;
    margin: auto !important;
    padding: auto !important;
    border-radius: 10px 0 0 10px !important;
  }

  .postField {
    margin: auto !important;
    padding: auto !important;
  }

  .field {
    margin-top: 1.5vh;
  }
}

@media only screen and (max-width: 600px) {
  body {
    #column2 {
      width: auto;
    }
    .imageLog {
      width: 0vw !important;
    }

    #whiteSign {
      display: flex;
      height: 120% !important;
      width: 70vw !important;
      margin: auto !important;
      padding: auto !important;
      border-radius: 10px 10px 10px 10px !important;
    }
  }
}
