{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"
    content="Joshua Immanuel Meza Magaña, Roberto Carlos Llanes Montero, Jonathan Gregorio Gómez Benítez, Israel Cruz Morales">
    <title>Employee Manager</title>
    <link rel="shortcut icon" href="{% static 'img/icon/favicon.png' %}" type="image/png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}" >
  </head>
  <body class="has-background-grey-light">
    <div class="container">
        <div class="columns m-0">
          <div class="column box has-text-centered is-8-mobile is-offset-2-mobile is-6-tablet is-offset-3-tablet is-4-widescreen is-offset-4-widescreen">
            <h1 class="has-text-success">Recovery done!</h1>
            <p>Your password is already changed!</p>
            <p><a href="../login/">Return to Log In.</a></p>
          </div>
        </div>
    </div>
  </body>
</html>