body {
  min-height: 100vh;
  overflow: auto !important; }

body {
  width: 100%; }
  body .navbar {
    background-color: #37ebf3; }
    body .navbar .button {
      width: 100% !important; }
  body .table-container {
    overflow-y: scroll !important; }
    body .table-container .table {
      width: 100%; }
