body {
  min-height: 100vh;
  overflow: auto !important; }

body {
  min-height: 100vh;
  overflow: auto !important; }

body {
  overflow: hidden !important;
  background-image: url("../img/bg.png");
  background-size: cover; }
  body .notification {
    z-index: 100;
    width: 100%;
    position: absolute; }
  body .container {
    columns: 0 !important;
    padding: auto !important;
    display: flex;
    justify-content: center; }
  body .columns {
    margin: 10vw 0 0 0 !important;
    display: flex !important; }
  body .column {
    margin-left: 0 !important;
    width: 70vw !important;
    padding: 0 !important;
    border-radius: 10px;
    display: flex;
    height: 100% !important; }
  body #column1 {
    width: 55vw !important; }
  body #column2 {
    width: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
    display: flex; }
  body .imageLog {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 10px 10px 0 !important;
    height: 100%; }
  body .postField {
    margin: 10% 20% 5vw 20% !important;
    margin: auto;
    height: auto; }
  body .field {
    margin: auto;
    margin-top: 3vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  body .button {
    margin-top: 1.2vh; }
  body .form {
    background-color: red !important; }

* {
  margin: 0;
  padding: 0; }

body #column2 {
  display: flex !important; }

body .imageLog {
  display: flex;
  width: 20vw !important; }

body #signupBox {
  margin: 0 !important;
  height: 62vh;
  margin-top: 10vw !important; }

body #containerSign {
  display: flex;
  justify-content: center; }

body #whiteSign {
  display: flex;
  height: 100% !important;
  width: 30vw !important;
  margin: auto !important;
  padding: auto !important;
  border-radius: 10px 0 0 10px !important; }

body .postField {
  margin: auto !important;
  padding: auto !important; }

body .field {
  margin-top: 1.5vh; }

@media only screen and (max-width: 600px) {
  body #column2 {
    width: auto; }
  body .imageLog {
    width: 0vw !important; }
  body #whiteSign {
    display: flex;
    height: 120% !important;
    width: 70vw !important;
    margin: auto !important;
    padding: auto !important;
    border-radius: 10px 10px 10px 10px !important; } }
