body {
  min-height: 100vh;
  overflow: auto !important;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

body {
  overflow: hidden !important;
  background-image: url("../img/bg.png");
  background-size: cover;
}
body .notification {
  z-index: 100;
  width: 100%;
  position: absolute;
}
body .container {
  height: 100vh;
  display: flex;
  justify-content: center;
}
body #ColmsContainer {
  width: 50vw;
  height: 30vw;
  margin: 18vh !important;
}
body #firstColm {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  height: 100%;
  width: 20vw !important;
  border-radius: 10px 0 0 10px !important;
}
body .postField {
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #column2 {
  width: 20vw !important;
  padding: 0;
  border-radius: 0 !important;
}
body .imageLog {
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0 !important;
}

@media screen and (max-width: 900px) and (min-width: 0px) {
  body #column2 {
    min-width: 0px;
    width: 1px !important;
  }
  body .imageLog {
    min-width: 0px;
    width: 1px !important;
  }
  body .container {
    display: flex;
    justify-content: center;
  }
  body #ColmsContainer {
    min-width: 50%;
    height: 50%;
  }
  body #firstColm {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    height: 100%;
    width: 50vw !important;
    border-radius: 10px 10px 10px 10px !important;
  }
  body .h1 {
    font-size: small;
    font-weight: 100;
  }
}
