body {
  min-height: 100vh;
  overflow: auto !important;
}

body {
  min-height: 100vh;
  overflow: auto !important;
}

body {
  overflow: hidden !important;
  background-image: url("../img/bg.png");
  background-size: cover;
}

body .notification {
  z-index: 100;
  width: 100%;
  position: absolute;
}

body .container {
  -webkit-columns: 0 !important;
          columns: 0 !important;
  padding: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .columns {
  margin: 10vw 0 0 0 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body .column {
  margin-left: 0 !important;
  width: 70vw !important;
  padding: 0 !important;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100% !important;
}

body #column1 {
  width: 55vw !important;
}

body #column2 {
  width: 100% !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .imageLog {
  width: 100% !important;
  margin: 0 !important;
  border-radius: 0 10px 10px 0 !important;
  height: 100%;
}

body .postField {
  margin: 10% 20% 5vw 20% !important;
  margin: auto;
  height: auto;
}

body .field {
  margin: auto;
  margin-top: 3vh;
  padding: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .button {
  margin-top: 1.2vh;
}

body .form {
  background-color: red !important;
}

* {
  margin: 0;
  padding: 0;
  border-radius: 0 !important;
  overflow: hidden !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body {
  overflow: hidden !important;
  background-image: url("../img/bg.png");
  background-size: cover;
}

body .notification {
  z-index: 100;
  width: 100%;
  position: absolute;
}

body .container {
  height: 100vh;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .columns {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 30vw;
  margin: 18vh !important;
}

body .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 30vw !important;
  border-radius: 10px 0 0 10px !important;
}

body .postField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #column2 {
  width: 20vw !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

body .imageLog {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0 !important;
}
/*# sourceMappingURL=indexNewPass.css.map */